<ng-container *ngIf="stationExist">
  <div class="information-wrapper" [hidden]="!stationExist">
    <span>Name: {{station.name}}</span><br/>
    <span>Adresse: {{station.address.street + ", " +
    station.address.zipcode +
    " " +
    station.address.city}}</span><br/>
    <span>EVA-Nummer: {{station.id}}</span>
    <div>
      <span *ngIf="availabilityArr.length > 0">Öffnungszeiten:</span>
      <ul *ngFor="let availability of availabilityArr">
        <li>{{availability.dayName + ": " + availability.fromTime + " - " + availability.toTime}}</li>
      </ul>
    </div>
  </div>
</ng-container>
