<ng-container *ngIf="stationExist">
  <div class="information-wrapper" [hidden]="!stationExist">
    <span>Name: {{station.name}}</span><br/>
    <span>Adresse: {{station.address.street + ", " +
    station.address.zipcode +
    " " +
    station.address.city}}</span><br/>
    <span>EVA-Nummer: {{station.id}}</span>
    <div *ngIf="station.DBinformation.availability">
      <span>Öffnungszeiten:</span>
      <ul>
        <li>Montags: {{station.DBinformation.availability.monday.fromTime}}
          - {{station.DBinformation.availability.monday.toTime}}</li>
        <li>Dienstags: {{station.DBinformation.availability.tuesday.fromTime}}
          - {{station.DBinformation.availability.tuesday.toTime}}</li>
        <li>Mittwochs: {{station.DBinformation.availability.wednesday.fromTime}}
          - {{station.DBinformation.availability.wednesday.toTime}}</li>
        <li>Donnerstag: {{station.DBinformation.availability.thursday.fromTime}}
          - {{station.DBinformation.availability.thursday.toTime}}</li>
        <li>Freitag: {{station.DBinformation.availability.friday.fromTime}}
          - {{station.DBinformation.availability.friday.toTime}}</li>
        <li>Samstag: {{station.DBinformation.availability.saturday.fromTime}}
          - {{station.DBinformation.availability.saturday.toTime}}</li>
        <li>Sonntag: {{station.DBinformation.availability.sunday.fromTime}}
          - {{station.DBinformation.availability.sunday.toTime}}</li>
        <li>Ferienzeiten: {{station.DBinformation.availability.holiday.fromTime}}
          - {{station.DBinformation.availability.holiday.toTime}}</li>
      </ul>
    </div>
  </div>
</ng-container>
